body{
  background-color:#FCEDDA;
  font-size: 30px;
  text-align: center;
  margin: 5% auto;
  padding: 10px;
  
}
button
{  
    background-color:#EE4E34;
    color: #FCEDDA;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    font-size: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
    box-shadow: #00000047;
}
button:hover
{
  transform: scale(0.9);
}
#counter {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
  color: #000000;
  background-color: #ffffff75;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
